Projeto Conta Bancária/Projeto_Conta_Bancaria.Tests/obj/Debug/net10.0/Projeto_Conta_Bancaria.Tests.AssemblyInfoInputs.cache
Projeto Conta Bancária/Projeto_Conta_Bancaria.Tests/obj/Debug/net10.0/Projeto_Conta_Bancaria.Tests.AssemblyInfo.cs
Projeto Blog Pessoal/BlogPessoal/obj/Debug/net10.0/BlogPessoal.AssemblyInfoInputs.cache
Projeto Blog Pessoal/BlogPessoal/obj/Debug/net10.0/BlogPessoal.AssemblyInfo.cs
Projeto Blog Pessoal/BlogPessoal.Tests/obj/Debug/net10.0/BlogPessoal.Tests.AssemblyInfoInputs.cache
Projeto Blog Pessoal/BlogPessoal.Tests/obj/Debug/net10.0/BlogPessoal.Tests.AssemblyInfo.cs
