Projeto Conta Bancária/Projeto_Conta_Bancaria.Tests/obj
Projeto Blog Pessoal/BlogPessoal/obj
Projeto Blog Pessoal/BlogPessoal.Tests/obj
Projeto Processamento de Transacoes/PROCESSA
/Projeto Final/build
/Projeto Conta Bancária/Projeto_Conta_Bancaria.Tests/obj
/Projeto Conta Bancária/Projeto_Conta_Bancaria/obj
/Projeto Blog Pessoal/BlogPessoal/obj
/Projeto Blog Pessoal/BlogPessoal.Tests/obj
